@model EsbjergCityShop.Models.PaginatedEventViewModel

@{
    ViewBag.Title = "Esbjerg City";
}

@foreach (var item in Model.Events)
{
    <div class="jumbotron jumbotron_frontpage clearfix">
        <div class="row">
            <div class="col-md-7">
                <h1>@item.Title</h1>
            </div>
            <div class="col-md-5">
                <h3 class="event_date">D.&nbsp;@item.DateOfEvent.ToLongDateString()</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img class="jumbotron_img" src=@item.Img />
            </div>
        </div>
        <div class="col-md-8 event_description">
            <p class="event_description truncate-text">@item.Description</p>
        </div>
        <p class="big_btn">
            <a href="@Url.Action("EventDetails", "Home", new { item.Id})" class="btn btn-primary btn-lg">Læs mere &raquo;</a>
        </p>
    </div>
}

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = 0; i < Math.Ceiling((double)Model.TotalEvents / Model.ItemsPrPage); i++)
        {
            <li><a href="@Url.Action("Index", new {Page = i + 1})">@(i + 1)</a></li>
        }
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>